<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/leader-board.css">
    <link rel="stylesheet" href="../static/css/top-nav.css">
</head>
<body style="background-color: #D8D8D8;">
<!--웹사이트 상단 바-->
<header>
    <div class="top-logo">
        <a href="/">
            <img src="{{ url_for('static', filename='logo.png') }}" class="logo">
        </a>
    </div>
    <nav class="top-nav{%if login%}-login{%endif%}">
        <ul class="ul">
            <li class="ask"><a href="/leader_board">건의하기</a></li>
            <li class="introduce"><a href="/information">담당 부서 및 교사 소개</a></li>
            {% if login %}
            <li class="my_info"><a href="/my_info">내 정보 ({{ username }})</a></li>
            <li class="logout"><a href="/logout">로그아웃</a></li>
            {% else %}
            <li class="login"><a href="/login">로그인</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
<!--웹사이트 상단 바-->
        <table class="table">
            <tr><td colspan="2"><h2>게시판</h2></td></tr>
            <tr class="header">
                <td class="num">번호</td>
                <td class="title">제목</td>
                <td>작성자</td>
                <td>작성날짜</td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td><button onclick="location.href='/write'">글쓰기</button></td>
            </tr>
        </table>
        <div class="box">

        </div>
</body>
</html>